* {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
    height: 10%;
    background-color: #29367a;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
main {
    height: 90%;
    width: 100%;
    display: flex;

}
.top-nav {
    width: 98%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.some-button {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: #666;
    font-weight: 600;
    text-align: center;
}
.some-button:hover{
    background-color: #29367a;
    cursor: pointer;
}

.course h3{
    background-color: black;
}

#side-nav {
    width: 0%;
    height: 100%;
    background-color: #29367a;
    border-right: 1px solid black;
    overflow-y: auto;
    transition: 0.4s;
}

#side-nav h3 {
    width: 100%;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border-top: 2px solid black;
    transition: 0.4s;

    
}

#page-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.class-info {
    width: 98%;
    border: 1px solid black;
    border-radius: 5px;
}

.class-info{
    margin-top: 2%;
    margin-bottom: 1%;
    height: 25%;
}
#class-title{
    padding: 5px 0px;
    width: 98%;
}
#extra-info{
    width: 98%;
    display: inline-flex;
    font-size: x-small;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    padding: 5px 5px;
    visibility: hidden;
}
#class-overview{
    padding: 5px 5px;
}
.course-buttons {
    margin-bottom:2% ;
    width: 25%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.course-buttons button{
    margin-right: 10px;
}
#add-course{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #9a1c21;
    color: white;
    border: 2px solid #9a1c21;
    transition: 0.4s;
    font-weight: 700;
}
#add-course:hover{
    cursor: pointer;
    background-color: white;
    color: #9a1c21;
    border: 2px solid #9a1c21;
}
#add-course:active{
    background-color: white;
    color: black;
    border: 2px solid #9a1c21;
}
#add-alternate{
    visibility: hidden;
}

.container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.request-grid {
    width: 100%;
    height: 60%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.request-grid:hover{
    cursor: pointer;
}
.remove-button{
    float: right;
    padding-right: 2px;
    text-decoration: none;
    color: black;
    visibility: hidden; 
}
#math, #ela, #science, #socialstudies,#worldlanguage,#pe,
#elective-one,#elective-two,#elective-three,#elective-four,
#elective-five,#elective-six, .elective {
    height: 18%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: lightgrey;
    text-align: center;
    display: block;
    border-radius: 5px;

} 
#math h3, #ela h3, #science h3, #socialstudies h3,#worldlanguage h3,#pe h3,
.elective-one h3,.elective-two h3,.elective-three h3,.elective-four h3,
.elective-five h3,.elective-six h3 .elective h3 {
    padding-top: 5px;
}

#math, #ela {
    width: 100%;
}
#science, #socialstudies {
    width: 49.25%;

}

#worldlanguage,#pe, .elective {
    width: 24%;
}
.class-info{
    text-align: center;
    overflow-y: scroll;
}

.course{
  display: none;
}
#ela:hover, #math:hover, #pe:hover, #science:hover,#socialstudies:hover,#worldlanguage:hover,#elective-one:hover,#elective-two:hover,#elective-three:hover,#elective-four:hover,#elective-five:hover,#elective-six:hover{
    background-color: #29367a;
    color: white;
}
#ela:active, #math:active, #pe:active, #science:active, #socialstudies:active, #worldlanguage:active, #elective-one:active,#elective-two:active,#elective-three:active,#elective-four:active,#elective-five:active,#elective-six:active{
    background-color: lightgray;
}

